body {
  margin: 0;

  background-color: #212121;
}

#container {
  color: beige;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  padding: 5px 50px;
  background-color: beige;
  color: black;
  font-weight: bold;
}
